body{
    background-color:burlywood;
}

*{
    padding: 0;
    margin: 0;
}

nav ul{
    display: flex;
    height: 7.5vh;
    background-color: green ;
    color: black;
    align-items: center;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li{
    padding: 0 12px;
}

.logo img{
    width:120px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}

.container{
    min-height: 70vh;
    width: 75%;
    background-color: black;
    color: white;
    background-image: url("bg.jpeg");
    margin: 1% auto;
    padding: 1%;
    display: flex;
    border-radius: 12px;
}
.songItem{
    display: flex;
    height: 4vh;
    margin:5% 5%;
    color: black;
    background-color: white;
    justify-content: space-between;
    border-radius: 34px;
    align-items: center;
}
.songItem .timeStamp{
    margin:0 2%;
}
.songItem i{
    cursor: pointer;
}
.songItem img{
    margin:0 5%;
    width: 30px;
    border-radius: 34px;
}
.bottom{
    position: sticky;
    height: 15vh;
    background-color: green;
    color: black;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom .SongInfo{
    position: absolute;
    left: 25%;
}
.SongInfo img{
    width: 7%
}
.bottom input{
    width: 50%;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
    padding: 0 5px;
}